{% extends 'estoque/base.html' %}
{%block content%}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <div class="w3-container" id="packages" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Categorias.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <table id="t01">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Código</th>
        <th>Opções</th>    
      </tr>
    </thead>
    <tbody>      
      {% for c in categories %}
      <tr>
        <td> {{ c.name }} </td>
        <td> {{ c.id }} </td>
        <td>
          <a href="{% url 'update_categorie' c.id %}" style="color: red">Editar</a>                
          <a href="{% url 'delete_categorie' c.id %}" style="color: red">Excluir</a>
        </td>            
      </tr>
      {% endfor %}
    </tbody>      
  </table>            
  <button type="submit" onclick="location.href='/categories/new'"class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Adicionar</button>      
</div>
{%endblock%}