{% extends 'vendas/base.html' %}
{%block content%}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<!-- Produtos -->
<div class="w3-container" id="packages" style="margin-top:50px">
<h1 class="w3-xxxlarge w3-text-blue"><b>Usuários.</b></h1>
<hr style="width:50px;border:5px solid blue" class="w3-round">
</div>
<table id="t01">
<thead>
<tr>
<th>Usuário</th>
<th>Login</th>
<th>Privilégios</th>
<th>Status</th>
<th>Opções</th>
</tr>
</thead>
<tbody>
{% for u in users %}
<tr>
<td>{{u.name}}</td>
<td>{{u.username}}</td>
<td>{{u.is_staff}}</td>
<td>{{u.is_active}}</td>             
<td>
<a href= "{% url 'update_user' u.id %}"  style="color: blue;">Editar</a>
<a href="{% url 'delete_user' u.id %}" style="color: blue">Excluir</a> 
</td>
</tr> 
</tbody>
{% endfor %}
</table>  
<button type="submit" onclick="location.href='/users/signup'" class="w3-button w3-block w3-padding-large w3-blue w3-margin-bottom">Adicionar</button>
</div>
<!-- End page content -->
</div>
{%endblock%}