{% extends 'estoque/base.html' %}
{%block content%}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <div class="w3-container" id="packages" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Deletar Produto.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <div class="w3-container" id="contact" style="margin-top:25px; margin-bottom: 140px">
    <form method="post">
      {% csrf_token %}
      <h2>Tem certeza que quer remover {{ product.name }} ?</h2>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Sim</button>
      <button type="submit" formmethod="GET" formaction="/" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Não</button>
    </form>
  </div>
<!-- End page content -->
</div>
{%endblock%}