{% extends 'estoque/base.html' %}

{%block content%}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <h1 class="w3-jumbo"><b>Estoque</b></h1>
  <h1 class="w3-xxxlarge w3-text-red"><b>Produtos</b></h1>
  <table id="t01" class=display>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Quantidade</th>
      <th>Categoria</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>    
      {% for p in products %}
      <tr>
      <td>{{p.name}}</td>
      <td>{{p.id}}</td>
      <td>{{p.quantity}}</td>
      <td>{{p.categorie}}</td>                    
      <td>
        {% if user.is_staff %}
        <a href="{% url 'update_product' p.id %}" style="color: red">Editar</a>                
        <a href="{% url 'delete_product' p.id %}" style="color: red">Excluir</a>
        {%else%}
        <a href="{% url 'receive_product' p.id %}" style="color: red">Receber</a>
        {%endif%}
      </td>
    </tr>
    {%endfor%}
  </tbody>
  
  </table>
</div>
{%endblock%}


  