{% extends 'estoque/base.html' %}
<!-- !PAGE CONTENT! -->
{%block content%}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <div class="w3-container" id="packages" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Adicione mais um pouco de {{product.name}}.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <div class="w3-container" id="contact" style="margin-top:25px">
    <form method="POST">
      <div class="w3-section">              
        {% csrf_token %}
        <div class="w3-section">
          <label>Quantidade</label>
          <input class="w3-input w3-border" type="number" name="qtd" value="" min="0">
        </div>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Receber</button>
    </form>    
  </div>
</div>  
  
<!-- End page content -->
{%endblock%}